$color1: #8e32f1;
$color2: #7E41C0;
$color3: #6F4B96;
$color4: #59486B;
$color5: #3B3641;
$color6: #e3dbeb;

//Afin de faire un responsive facilement
@mixin phone {
    @media (max-width: 1025px) {
      @content;
    }
  }

  //Ajouter facilement des ombes
  @mixin shadow {
    box-shadow: 0px 12px 20px 1px rgba(0, 0, 0, 0.24);
  }

  //Body
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #e0d7e9;
  }

  //Un display flex responsive
  .flex {
    display: flex;
    align-items: center;
    flex-direction: row;

    @include phone {
      flex-direction: column;
      padding: 0;
    }
  }

  //Pour de belles listes sans puce
  ul {
    list-style: none;
    margin-top: 0;
  }

  //Couleur des liens
  a {
    text-decoration: none;
    color: $color2;
    cursor: pointer;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: $color2;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%; /* Lorsque l'on survole le lien, la barre prend toute la largeur */
}


  //Decorations des liens de la navigation
  .nav-items
  {
    margin-right: 10px;
    border-radius: 12px;
    margin: 16px;
    transition: background-color 0.4s;
    font-size: 17px;
    color: $color6;
    &:hover {
      background-color: #9c49f5;
    }
  }

  //La nav bar responsive
  .nav {
    background: linear-gradient(360deg, $color1 19%, $color2 76%);
    height: 60px;
    transition: right 0.5s;
    @include shadow;
    @include phone {
      position: fixed;
      height: 100%;
      width: 150px;
      right: -150px;
      top: 0;
      z-index: 5;
      margin-top: 0;
    }
  }

  //Le logo
  .todos {
    font-family: 'Playwrite NZ', sans-serif;
    font-weight: 900;
    color: $color6;
    font-size: larger;
    transition: top 1.5s;
    @include phone {
      position: fixed;
      top: 20px;
      left: 5%;
      z-index: 6;
      color: $color1
    }
  }

  //Marge large
  .margin-xl{
      margin-top: 90px;
  }

  //Le menu pour téléphone
  #menu-phone {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: linear-gradient(360deg, $color1 19%, $color2 76%);
  }

  //Décorations des input
  input[type='text'],
  input[type='tel'],
  input[type='password'],
  input[type='email'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.15s, border-width 0.15s;

    &:focus {
      border-color: $color3;
      border-width: 2px;
    }
  }

  //Décoration des boutons
  .btn {
    display: inline-block;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: $color2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color4;
    }
  }

  //Afin de faire de beaux input avec leurs labels de façon responsive
  .box-input {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    @include phone {
      width: 300px;
    }
  }

  //Box pour les listes de tache
  .box-liste {
    color: $color5;
    width: 30%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.089);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 28px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;

    @include phone {
      width: 90%;
      height: 170px;
      margin-top: 5px;
      margin-left: 5px;
    }

    &:hover {
      background-color: $color1;
    }
  }


//Div ou se trouve le burger telephone
#openMenu {
  position: fixed;
  top: 20px;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  background-color: transparent;
  z-index: 6;
  transition: top 1.5s;

  @media (min-width: 1026px) {
    display: none;
  }
}

//Bouton pour fermer le menu telephone
#closeMenu {
  padding: 12px;
  padding-left: 0px;
  padding-right: 0px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59486b;
  cursor: pointer;
  z-index: 6;

  @media (min-width: 1026px) {
    display: none;
  }
}

//Bouyton de deco
.deco {
  margin-left: 50vw;

  @include phone {
    margin-left: 0;
  }

  @media (min-width: 1524px) {
    margin-left: 65vw;
  }
}

//Pas de wrap sur le texte de deco
.deco-wrap {
  white-space: nowrap;

  @include phone {
    white-space: wrap;
  }
}

//Marge taille moyenne
.margin {
  margin-top: 10px;

  @include phone {
    margin-top: 40px;
    white-space: nowrap;
  }
}

//Grande marge
.margin-xl{
    margin-top: 90px;
}

//De beaux tableaux
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    color: #333;
    background-color: $color4;
    color: white;
    // Utilisation du mixin pour les petits écrans
    @include phone {
        font-size: 14px; // Réduction de la taille de la police sur mobile
    }
}

/* Style des en-têtes du tableau */
.table thead {
    background-color: $color5;
}

.table th {
    padding: 12px 15px;
    text-align: left

}

/* Style des cellules du tableau */
.table td {
    padding: 12px 15px;

}


/* Style pour les lignes du tableau */
.table tr:nth-child(even) {
    background-color: $color1;
}

.table tr:hover {
    background-color: #000000;
}

/* Style pour le tableau lorsque le contenu est trop large */
.table-responsive {
    overflow-x: auto;

    @include phone {
        overflow-x: scroll; // Permet le défilement horizontal sur mobile si nécessaire
    }
}

//Le transparant d'une modale
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Le contenu d'une modale
.modal-content{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
//Le header d'une modale pour le titre
.modal-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Le corps d'une modale
.modal-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//De beaux select
select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.15s, border-width 0.15s;
    &:focus {
        border-color: $color3;
        border-width: 2px;
    }
}


.liste1{
    background: linear-gradient(21deg, rgba(203,91,255,0.2455182756696429) 0%, rgba(255,0,0,0.2007003484987745) 14%, rgba(0,0,0,0) 22%, rgba(174,3,255,0.10826337370885852) 38%, rgba(203,91,255,0.23431379387692575) 63%);
    color: #000000;
}
.liste2{
    background: linear-gradient(21deg, rgba(203, 91, 255, 0.246) 0%, rgba(0, 4, 255, 0.201) 14%, rgba(0,0,0,0) 22%, rgba(175, 3, 255, 0.108) 38%, rgba(91, 102, 255, 0.234) 63%);
    color: #000000;
}
.liste3{
    background: linear-gradient(21deg, rgba(91, 255, 146, 0.246) 0%, rgba(0, 255, 50, 0.201) 14%, rgba(0,0,0,0) 22%, rgba(3, 255, 136, 0.108) 38%, rgba(102, 255, 165, 0.234) 63%);
    color: #000000;
}
.liste4{
    background: linear-gradient(21deg, rgba(255, 184, 91, 0.466) 0%, rgba(255, 149, 0, 0.473) 14%, rgba(255, 0, 0, 0.034) 22%, rgba(255, 100, 3, 0.336) 38%, rgba(255, 204, 102, 0.5) 63%);
    color: #000000;
}
.liste5{
    background: linear-gradient(21deg, rgba(255, 137, 91, 0.246) 0%, rgba(255, 0, 0, 0.201) 14%, rgba(0,0,0,0) 22%, rgba(255, 95, 3, 0.226) 38%, rgba(255, 102, 102, 0.37) 63%);
    color: #000000;
}
.liste6{
    background-color: #8e32f1;
    color: white;
}
.liste7{
    background: linear-gradient(57deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 63%, rgba(1,199,247,1) 90%, rgba(255,232,212,1) 96%, rgba(255,255,255,1) 98%);
    color: white;
}
.liste8{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(1,199,247,1) 52%, rgba(212,255,254,1) 70%, rgba(255,255,255,1) 74%, rgba(255,244,207,1) 74%, rgba(12,164,108,1) 78%, rgba(78,127,255,1) 81%, rgba(32,78,198,1) 87%, rgba(11,20,45,1) 100%);
    color: white;
}
.liste9{
    background: radial-gradient(circle, rgba(252,37,37,1) 9%, rgba(255,0,0,1) 12%, rgba(255,216,0,1) 35%, rgba(0,13,166,1) 44%, rgba(24,29,93,1) 59%, rgba(0,0,0,1) 98%);
    color:#000000;
}
.liste10{
    background: linear-gradient(0deg, rgba(191,174,203,1) 15%, rgba(161,150,163,1) 25%, rgba(98,88,92,1) 34%, rgba(64,54,54,1) 35%, rgba(26,16,85,1) 62%);
    color:white;
}
.liste11{
    background: radial-gradient(circle, rgba(255,0,0,1) 8%, rgba(255,216,0,1) 19%, rgba(37,255,0,1) 33%, rgba(0,255,79,1) 45%, rgba(0,157,255,1) 51%, rgba(0,20,255,1) 68%, rgba(169,0,255,1) 76%, rgba(255,0,200,1) 92%, rgba(255,0,127,1) 100%, rgba(255,0,0,1) 100%);
    color:black;
}

